* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 100px;
}

#chat {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    width: 1000px;
    background-color: #fff;
    margin: auto;
}

#left {
    z-index: 100000;
    flex-basis: 280px;
    max-width: 280px;
    border-right: 1px solid #ddd;
    box-shadow: 1px 0 2px 0 #eee;
    background-color: #f5f5f5;
}

#right {
    flex-grow: 0;
    flex-shrink: 0;
    width: 736px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#profile {
    height: 120px;
}

#search {
    padding: 5px 10px;
    border-bottom: 1px solid #e8e8e8;
}

#search input {
    height: 32px;
    width: 100%;
    max-width: 240px;
    padding: 0 10px;
    background-color: #fff;
    line-height: 32px;
    font-size: 14px;
    color: #aaa;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
}

#search input:focus {
    border: 1px solid #1d1d1d;
}

#contacts {

}

.contact {
    height: 48px;
    padding: 5px 10px;
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
}

.contact:first-child {
    border-top: none;
}

.contact:hover {
    background-color: #fff;
}

.contact .avatar {
    padding: 3px;
    height: 42px;
    width: 42px;
    float: left;
}

.contact .avatar img {
    height: 42px;
    width: 42px;
    border-radius: 4px;
}

.contact .info {
    margin-left: 58px;
}

.contact .name {
    font-size: 14px;
    line-height: 28px;
    color: #666;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contact .mood {
    font-size: 12px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

#title-bar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40px;
    border-bottom: 1px solid #f5f5f5;
}

#msg-box {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow-y: scroll;
}

#msg-box li {
    display: flex;
    margin: 10px;
    flex-direction: row;
}

#msg-box li .avatar {
    width: 56px;
    height: 56px;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 5px;
    flex-basis: 56px;
    flex-grow: 0;
    flex-shrink: 0;
}

#msg-box .other {
    justify-content: flex-start;
}

#msg-box .me {
    justify-content: flex-end;
}

#msg-box .other .msg {
    margin-left: 10px;
    margin-right: 68px;
}

#msg-box .me .msg {
    margin-right: 10px;
    margin-left: 68px;
}

#msg-box .msg {
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 150%;
    color: #555;
    display: table-cell;
    vertical-align: middle;
    max-width: 542px;
    word-wrap: break-word;
    word-break: normal;
}

#tool-bar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#input-box {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 120px;
}

#input-box .input-area {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    font-size: 16px;
}

#send-bar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30px;
    background: #fafafa;
    border-top: 1px solid #eee;
    padding: 5px 10px;
}

#send-bar .send {
    float: right;
    height: 30px;
}